<div id="replay_list_control">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <table class="table table-striped">
                <tr ng-repeat="r in allReplays">
                    <td style="width: 400px;">
                        <span>{{r.name}}</span>
                    </td>
                    <td style="width: 100px;">{{r.lengthString}}</td>
                    <td style="width: 200px;">
                        <button class="btn btn-primary" ng-click="playReplay($index)">Play</button>
                        <button class="btn btn-primary" ng-click="downloadReplay($index)">Download</button>
                    </td>
                </tr>
            </table>
            <div class="btn btn-primary btn-file" style="margin-top: 50px;">
                <span>Load Replay From Computer</span>
                <input type="file" ng-file-select="onFileSelect($files)"/>
            </div>
        </div>
    </div>
</div>