<div id="replay_name_control">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <span>Please specify a name for this replay:</span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="col-xs-12 col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" ng-model="newReplayName" id="new_replay_name" style="width: 150px;"
                           class="form-control" placeholder="name here"/>
                    <label for="new_replay_name">{{replayPostfix}}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-4 col-md-4">
            <button class="btn btn-success" ng-click="saveReplay()">Save</button>
            <button class="btn btn-warning" ng-click="cancelReplayName()">Cancel</button>
        </div>
    </div>
</div>