<div id="ui_setting">
    <form class="form-inline">
        <div style="margin-top: 20px;" class="form-group">
            <span>Current Nectar Level</span>
            <input type="number" class="form-control" style="width: 60px;" ng-model="nLevel"/>
        </div>
    </form>

    <form class="form-inline">
        <div style="margin-top: 20px;" class="form-group">
            <span>Max Nectar Level</span>
            <input type="number" class="form-control" style="width: 60px;" ng-model="nMax"/>
        </div>
    </form>

    <div style="margin-top: 20px; width: 50%;">
        <span>If a bee finds good nectar, she should:</span>
        <select class="form-control" ng-model="dance">
            <option value="dance-long">Dance to tell others and longer for better nectar</option>
            <option value="dance">Dance to tell others</option>
            <option value="go-back">Just go back there</option>
            <option value="look-new">Look for a new one</option>
            <option value="wait">Always wait to be told</option>
        </select>
    </div>

    <div style="margin-top: 20px; width: 50%;">
        <span>Nectar Quality</span>
        <select class="form-control" ng-model="nectarQuality">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div style="margin-top: 30px;">
        <button class="btn btn-success btn-lg" ng-click="applyActorSetting()">Apply</button>
    </div>

</div>