<div id="ui_setting">
    <div>
        <span>Smell Range</span>
        <input type="number" id="slider1" data-slider-id="mySlider" data-slider-min="2" data-slider-max="15"/>
    </div>

    <div style="margin-top: 20px;">
        <span>Current Nectar Level</span>
        <input type="number" style="width: 40px;" ng-model="nLevel"/>
    </div>

    <div style="margin-top: 20px;">
        <span>Max Nectar Level</span>
        <input type="number" style="width: 40px;" ng-model="nMax"/>
    </div>

    <div style="margin-top: 20px;">
        <span>Nectar Quality</span>
        <input type="number" style="width: 40px;" ng-model="nQuality"/>
    </div>

    <div style="margin-top: 20px;">
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower')">
                    <img src="images/flower.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-2')">
                    <img src="images/flower2.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-3')">
                    <img src="images/flower3.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-4')">
                    <img src="images/flower4.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-5')">
                    <img src="images/flower5.png" style="height: 60px;">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-6')">
                    <img src="images/flower6.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-7')">
                    <img src="images/flower7.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-8')">
                    <img src="images/flower8.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-9')">
                    <img src="images/flower9.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType('flower-10')">
                    <img src="images/flower10.png" style="height: 60px;">
                </a>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px;">
        <button class="btn btn-success btn-lg" ng-click="applyActorSetting()">Apply</button>
    </div>

</div>
<script>
    //$(".later-ng").hide();
    var ngScope = null;
    var slider = $("#slider1").bootstrapSlider({tooltip: "always"});

    slider.on("slideStop", function () {
        var value = slider.bootstrapSlider("getValue");
        ngScope.fRange = value;
        ngScope.$apply();
        currentSettingActor.model.previewSetting(value);
    });

    slider.on("slide", function () {
        var value = slider.bootstrapSlider("getValue");
        ngScope.fRange = value;
        ngScope.$apply();
        currentSettingActor.model.previewSetting(value);
    });
</script>