<div id="ui_setting">
    <div>
        <span>Smell Range</span>
        <input type="number" id="slider1" data-slider-id="mySlider" data-slider-min="2" data-slider-max="15"/>
    </div>

    <div style="margin-top: 20px;">
        <span>Current Food Level</span>
        <input type="number" style="width: 40px;" ng-model="nLevel"/>
    </div>

    <div style="margin-top: 20px;">
        <span>Max Food Level</span>
        <input type="number" style="width: 40px;" ng-model="nMax"/>
    </div>

    <div style="margin-top: 20px;">
        <div>Food Appearance</div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(0)">
                    <img ng-src="images/{{flowerTypes[0]}}.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(1)">
                    <img ng-src="images/{{flowerTypes[1]}}.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(2)">
                    <img ng-src="images/{{flowerTypes[2]}}.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(3)">
                    <img ng-src="images/{{flowerTypes[3]}}.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(4)">
                    <img ng-src="images/{{flowerTypes[4]}}.png" style="height: 60px;">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(5)">
                    <img ng-src="images/{{flowerTypes[5]}}.png" style="height: 60px;">
                </a>
            </div>
            <div class="col-xs-2 col-md-2">
                <a href="javascript:void(0);" class="thumbnail" ng-click="setFlowerType(6)">
                    <img ng-src="images/{{flowerTypes[6]}}.png" style="height: 60px;">
                </a>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px;">
        <button class="btn btn-success btn-lg" ng-click="applyActorSetting()">Apply</button>
    </div>

</div>
<script>
    //$(".later-ng").hide();
    var ngScope = null;
    var slider = $("#slider1").bootstrapSlider({tooltip: "always"});

    slider.on("slideStop", function () {
        var value = slider.bootstrapSlider("getValue");
        ngScope.fRange = value;
        ngScope.$apply();
        currentSettingActor.model.previewSetting(value);
    });

    slider.on("slide", function () {
        var value = slider.bootstrapSlider("getValue");
        ngScope.fRange = value;
        ngScope.$apply();
        currentSettingActor.model.previewSetting(value);
    });
</script>